.checkout-page {
  width: 70vw;
  max-width: 2600px;
  margin: 0 auto;
}

.checkout-content {
  display: flex;
  width: 70vw;
  max-width: 2600px;
  margin: 0 auto;
  justify-content: space-between;
}
