.heading {
  width: 70vw;
  max-width: 2600px;
  margin: 0 auto;
}

.event-notes {
  margin-top: 70px;
  margin-bottom: 50px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 220px;
}
